<!-- new user modal -->
<div class="modal fade" id="modal-new-user">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">新建用户</h4>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="user-form">
                    <div class="card card-primary">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="username">用户名</label>
                                <input class="form-control" id="username" name="username"
                                       placeholder="5-16个字符,字母开头且只能包含小写字母和数字"
                                       type="text">
                            </div>
                            <div class="form-group">
                                <label for="password">密码</label>
                                <input class="form-control" id="password" name="password" placeholder="任意字符"
                                       type="password">
                            </div>
                            <div class="form-group">
                                <label for="nickname">昵称</label>
                                <input class="form-control" id="nickname" name="nickname" placeholder="用户昵称,可为空"
                                       type="text">
                            </div>
                            <div class="form-group">
                                <label for="mobile">手机号</label>
                                <input class="form-control" id="mobile" name="mobile" placeholder="手机号,可为空" type="text">
                            </div>
                            <div class="form-group">
                                <label for="email">邮箱</label>
                                <input class="form-control" id="email" name="email" placeholder="邮箱地址,可为空" type="email">
                            </div>
                            <div class="form-group">
                                <label for="enable">用户状态</label>
                                <select class="form-control custom-select" id="enable" name="enabled">
                                    <option disabled selected>请选择</option>
                                    <option value="true">激活</option>
                                    <option value="false">禁用</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button class="btn btn-default" data-dismiss="modal" type="button">关闭</button>
                <button class="btn btn-primary" th:onclick="userS()" type="button">保存</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>

    <!-- /.modal-dialog -->
</div>
