<div class="card">
    <div class="card-header">
        <h3 class="card-title">
            <i class="fa-solid fa-server"></i>
            集群资源
        </h3>

    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="row">

            <div class="col-6 col-md-4 text-center">

                <label for="node">
                    <input class="knob" data-fgColor="#00a65a" data-height="100"
                           data-min="1"
                           data-readonly="true"
                           data-thickness="0.1"
                           data-width="100"
                           id="node"
                           th:data-max="${statistics.clusterStatistics.totalNode}"
                           th:value="${statistics.clusterStatistics.totalNode}"
                           type="text">
                </label>

                <div class="knob-label">节点数（[[${statistics.clusterStatistics.totalNode}]]）</div>
            </div>
            <div class="col-6 col-md-4 text-center">

                <label for="cpu">
                    <input class="knob" data-fgColor="#00a65a" data-height="100"
                           data-max="100"
                           data-min="0"
                           data-readonly="true"
                           data-thickness="0.1"
                           data-width="100"
                           id="cpu"
                           th:value="${statistics.clusterStatistics.totalCpuUsagePercentage}"
                           type="text">
                </label>

                <div class="knob-label">cpu核心（[[${statistics.clusterStatistics.totalCpuMilliCoresCapacity}]]m）
                </div>
                <div class="knob-label">使用核心（[[${statistics.clusterStatistics.totalCpuMilliCoresUsage}]]m）
                </div>
                <div class="knob-label">使用率（[[${statistics.clusterStatistics.totalCpuUsagePercentage}]]%）</div>
            </div>
            <!-- ./col -->
            <div class="col-6 col-md-4 text-center">

                <label for="memory">
                    <input class="knob" data-fgColor="#00a65a" data-height="100"
                           data-max="100"
                           data-min="0"
                           data-readonly="true"
                           data-thickness="0.1"
                           data-width="100"
                           id="memory"
                           th:value="${statistics.clusterStatistics.totalMemoryUsagePercentage}"
                           type="text">
                </label>

                <div class="knob-label">内存（[[${statistics.clusterStatistics.totalMemoryMegabyteCapacity}]]Mi）
                </div>
                <div class="knob-label">使用内存（[[${statistics.clusterStatistics.totalMemoryMegabyteUsage}]]Mi）
                </div>
                <div class="knob-label">使用率（[[${statistics.clusterStatistics.totalMemoryUsagePercentage}]]%）
                </div>
            </div>
            <!-- ./col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.card-body -->
</div>