<div class="card">
    <div class="card-header">
        <h3 class="card-title">
            <i class="fa-solid fa-circle-nodes"></i>
            工作负载
        </h3>

    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="row">

            <!-- ./col -->
            <div class="col-6 col-md-2 text-center">

                <label for="pod">
                    <input class="knob" data-fgColor="#00a65a" data-height="100"
                           data-min="0"
                           data-readonly="true"
                           data-thickness="0.1"
                           data-width="100"
                           id="pod"
                           th:data-max="${statistics.clusterStatistics.totalPod}"
                           th:value="${statistics.clusterStatistics.totalPod}"
                           type="text">
                </label>

                <div class="knob-label">Pod（[[${statistics.clusterStatistics.totalPod}]]）</div>
            </div>
            <div class="col-6 col-md-2 text-center">

                <label for="deployment">
                    <input class="knob" data-fgColor="#00a65a" data-height="100"
                           data-min="0"
                           data-readonly="true"
                           data-thickness="0.1"
                           data-width="100"
                           id="deployment"
                           th:data-max="${statistics.clusterStatistics.totalDeployment}"
                           th:value="${statistics.clusterStatistics.totalDeployment}"
                           type="text">
                </label>

                <div class="knob-label">Deployment（[[${statistics.clusterStatistics.totalDeployment}]]）</div>
            </div>
            <div class="col-6 col-md-2 text-center">

                <label for="job">
                    <input class="knob" data-fgColor="#00a65a" data-height="100"
                           data-min="0"
                           data-readonly="true"
                           data-thickness="0.1"
                           data-width="100"
                           id="job"
                           th:data-max="${statistics.clusterStatistics.totalJob}"
                           th:value="${statistics.clusterStatistics.totalJob}"
                           type="text">
                </label>

                <div class="knob-label">Job（[[${statistics.clusterStatistics.totalJob}]]）</div>
            </div>
            <div class="col-6 col-md-2 text-center">

                <label for="cronjob">
                    <input class="knob" data-fgColor="#00a65a" data-height="100"
                           data-min="0"
                           data-readonly="true"
                           data-thickness="0.1"
                           data-width="100"
                           id="cronjob"
                           th:data-max="${statistics.clusterStatistics.totalCronJob}"
                           th:value="${statistics.clusterStatistics.totalCronJob}"
                           type="text">
                </label>

                <div class="knob-label">CronJob（[[${statistics.clusterStatistics.totalCronJob}]]）</div>
            </div>
            <div class="col-6 col-md-2 text-center">

                <label for="daemonset">
                    <input class="knob" data-fgColor="#00a65a" data-height="100"
                           data-min="0"
                           data-readonly="true"
                           data-thickness="0.1"
                           data-width="100"
                           id="daemonset"
                           th:data-max="${statistics.clusterStatistics.totalDaemonSet}"
                           th:value="${statistics.clusterStatistics.totalDaemonSet}"
                           type="text">
                </label>

                <div class="knob-label">DaemonSet（[[${statistics.clusterStatistics.totalDaemonSet}]]）</div>
            </div>
            <div class="col-6 col-md-2 text-center">

                <label for="statefulset">
                    <input class="knob" data-fgColor="#00a65a" data-height="100"
                           data-min="0"
                           data-readonly="true"
                           data-thickness="0.1"
                           data-width="100"
                           id="statefulset"
                           th:data-max="${statistics.clusterStatistics.totalStatefulSet}"
                           th:value="${statistics.clusterStatistics.totalStatefulSet}"
                           type="text">
                </label>

                <div class="knob-label">StatefulSet（[[${statistics.clusterStatistics.totalStatefulSet}]]）</div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.card-body -->
</div>