<div aria-hidden="true" aria-labelledby="loadingModalLabel" class="modal" id="modal-loading" role="dialog"
     tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">请稍等...</span>
                </div>
                <p class="mt-2">请稍等...</p>
            </div>
        </div>
    </div>
</div>