<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>NGCCA | 模板</title>

  <link th:insert="~{global-link}">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <div th:insert="~{navbar}"></div>

  <div th:insert="~{sidebar}"></div>


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">

          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a th:href="@{/administrator/index}">Home</a></li>
              <li class="breadcrumb-item active">模板列表</li>
            </ol>
          </div>
        </div>
      </div>
    </section>
    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card card-solid">
        <div class="card-body pb-0">
          <div class="row">

            <div class="col-12 col-sm-3 col-md-2 d-flex align-items-stretch flex-column"
                 th:each="definition: ${collection}">
              <div class="card bg-light d-flex flex-fill">
                <div class="card-header text-muted border-bottom-0" th:text="${definition.name}">
                </div>
                <div class="card-body pt-0">
                  <div class="row">
                    <div class="col-7">
                      <h2 class="lead"><b th:text="${definition.version}"></b></h2>
                      <p class="text-muted text-sm" th:text="${definition.shortDesc}"><b>About: </b> Web Designer / UX /
                        Graphic Artist / Coffee Lover </p>
                      <ul class="ml-4 mb-0 fa-ul text-muted">
                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-clock"></i></span><span
                                th:text="${definition.createdAt}"></span></li>
                      </ul>
                    </div>
                    <div class="col-5 text-center">
                      <img alt="template-logo" class="img-circle img-fluid" th:src="${definition.logo}">
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="text-right">
                    <button class="btn btn-sm bg-teal" onclick="deploytemplate(this)"
                            th:data-definition-name="${definition.name}">
                      <i class="fas fa-cloud">部署</i>
                    </button>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <!-- /.card-body -->

        <!-- /.card-footer -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <div th:insert="~{footer}"></div>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<div th:insert="~{global-script}"></div>
<script th:src="@{/js/template-instance.js}">
</script>
</body>
</html>
