<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>NGCCA | 模板管理</title>

  <link th:insert="~{global-link}">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

  <div th:insert="~{admin/navbar}"></div>
  <div th:insert="~{admin/sidebar}"></div>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div th:insert="~{content-header}"></div>

    <!-- Main content -->
    <section class="content" id="templates-fragment" th:fragment="content">
      <div th:insert="admin/template-definition/template-list"></div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <div th:insert="~{footer}"></div>

  <div th:insert="admin/template-definition/template-new-modal"></div>
  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
<div th:insert="~{global-script}"></div>
<script th:src="@{/js/template-manage.js}">
</script>
</body>
</html>
