<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>NGCCA | 我的应用</title>

    <link th:insert="~{global-link}">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <div th:insert="~{navbar}"></div>

    <div th:insert="~{sidebar}"></div>

    <div th:insert="~{codemirror-yaml-modal}"></div>
    <div th:insert="~{codemirror-text-modal}"></div>
    <div th:insert="~{user/select-cluster-modal}"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">

                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a th:href="@{/user/applications}">我的应用</a></li>
                            <li class="breadcrumb-item active">创建应用</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content-header -->

        <div class="row">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">创建应用</h3>
                    </div>
                    <div class="card-body p-0">
                        <div class="bs-stepper">
                            <div class="bs-stepper-header" role="tablist">
                                <!-- your steps here -->
                                <div class="step" data-target="#basic-part">
                                    <button aria-controls="basic-part" class="step-trigger" id="basic-part-trigger"
                                            role="tab"
                                            type="button">
                                        <span class="bs-stepper-circle">1</span>
                                        <span class="bs-stepper-label">基本信息</span>
                                    </button>
                                </div>
                                <div class="line"></div>
                                <div class="step" data-target="#information-part">
                                    <button aria-controls="information-part" class="step-trigger" id="information-part-trigger"
                                            role="tab" type="button">
                                        <span class="bs-stepper-circle">2</span>
                                        <span class="bs-stepper-label">Various information</span>
                                    </button>
                                </div>
                            </div>
                            <div class="bs-stepper-content">
                                <!-- your steps content here -->
                                <div aria-labelledby="basic-part-trigger" class="content" id="basic-part"
                                     role="tabpanel">
                                    <div class="card card-secondary">
                                        <div class="card-header">
                                            <h3 class="card-title">基本信息</h3>

                                            <div class="card-tools">
                                                <button class="btn btn-tool" data-card-widget="collapse" title="Collapse"
                                                        type="button">
                                                    <i class="fas fa-minus"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="form-group">
                                                <label for="application-name">应用名称 <span
                                                        style="color: red;">*</span></label>
                                                <input class="form-control" id="application-name" name="name" placeholder="不能包含中文，特殊字符，大写英文。且以小写英文开始"
                                                       required
                                                       style="width: 100%;"
                                                       type="text">
                                            </div>
                                            <div class="form-group">
                                                <label for="label-select-cluster">集群 <span
                                                        style="color: red;">*</span></label>
                                                <select class="form-control select2bs4" id="label-select-cluster"
                                                        name="clusterId"
                                                        style="width: 100%;">
                                                    <option disabled selected>请选择</option>
                                                    <option th:each="cluster : ${ clusters}"
                                                            th:text="${cluster.name}"
                                                            th:value="${cluster.id}">
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="application-replicas">应用副本数</label>
                                                <input class="form-control" id="application-replicas" max="100" min="0"
                                                       name="replicas" step="1" style="width: 100%;"
                                                       type="number"
                                                       value="1">
                                            </div>
                                            <div class="form-group">
                                                <label for="application-serverport">容器服务端口 <span
                                                        style="color: red;">*</span></label>
                                                <input class="form-control" id="application-serverport" name="serverPort" step="1"
                                                       style="width: 100%;"
                                                       type="number"
                                                       value="8080">
                                            </div>
                                            <div class="form-group">
                                                <div class="custom-control custom-switch">
                                                    <input class="custom-control-input" id="expose-http-access" name="canHttp"
                                                           type="checkbox">
                                                    <label class="custom-control-label" for="expose-http-access">开启域名访问
                                                        <span style="color: red;">（仅支持http协议类型的服务）</span></label>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="application-desc">应用描述</label>
                                                <textarea class="form-control" id="application-desc"
                                                          rows="4"></textarea>
                                            </div>
                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                    <button class="btn btn-primary" onclick="stepper.next()">Next</button>
                                </div>
                                <div aria-labelledby="information-part-trigger" class="content" id="information-part"
                                     role="tabpanel">
                                    <div class="form-group">
                                        <label for="exampleInputFile">File input</label>
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input class="custom-file-input" id="exampleInputFile" type="file">
                                                <label class="custom-file-label" for="exampleInputFile">Choose
                                                    file</label>
                                            </div>
                                            <div class="input-group-append">
                                                <span class="input-group-text">Upload</span>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary" onclick="stepper.previous()">Previous</button>
                                    <button class="btn btn-primary" type="submit">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">

                    </div>
                </div>
            </div>
        </div>
        <!-- /.card -->
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <div th:insert="~{footer}"></div>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<div th:insert="~{global-script}"></div>
<script th:src="@{/js/user-application.js}">
</script>
</body>
</html>


