<div aria-labelledby="basic-part-trigger" class="content" id="basic-part" role="tabpanel">
    <div class="card card-secondary">
        <div class="card-header">
            <h3 class="card-title">基本信息</h3>

            <div class="card-tools">
                <button class="btn btn-tool" data-card-widget="collapse"
                        title="Collapse" type="button">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="application-name">应用名称 <small
                        style="color: red;">*</small></label>
                <input class="form-control" id="application-name"
                       placeholder="不能包含中文，特殊字符，大写英文。且以小写英文开始"
                       required
                       style="width: 100%;"
                       type="text">
            </div>
            <div class="form-group">
                <label for="selected-cluster">集群 <small
                        style="color: red;">*</small></label>
                <select class="form-control select2bs4" id="selected-cluster"
                        style="width: 100%;">
                    <option disabled selected>请选择</option>
                    <option th:each="cluster : ${ clusters}"
                            th:text="${cluster.name}"
                            th:value="${cluster.id}">
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="application-replicas">应用副本数</label>
                <input class="form-control" id="application-replicas" max="100"
                       min="0"
                       step="1"
                       style="width: 100%;"
                       type="number"
                       value="1">
            </div>
            <div class="form-group">
                <label for="application-serverport">容器服务端口 <small
                        style="color: red;">*</small></label>
                <input class="form-control" id="application-serverport"
                       step="1"
                       style="width: 100%;"
                       type="number"
                       value="8080">
            </div>
            <div class="form-group">
                <div class="custom-control custom-switch">
                    <input class="custom-control-input" id="enable-ingress-access"
                           type="checkbox">
                    <label class="custom-control-label" for="enable-ingress-access">开启域名访问
                        <small style="color: red;">（http协议类型的服务通过域名直接访问，tcp协议服务通过ip(域名):端口方式进行访问）</small></label>
                </div>
            </div>

        </div>
        <!-- /.card-body -->
    </div>
    <button class="btn btn-success" onclick="steppernext('basic')">下一步</button>
</div>