apiVersion: v1
kind: Secret
metadata:
  annotations: { }
  labels:
    k8s-app: #{[ LABEL_NAME ]}
  name: #{[ SECRET_NAME ]}
  namespace: #{[ NAMESPACE ]}
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: #{[ DOCKER_CONFIG_JSON ]}
immutable: true
stringData: { }