<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>HotCloud | template</title>

  <link th:include="global-link">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    <img alt="HotCloudlogo" class="animation__shake" height="60" th:src="@{/dist/img/HotCloudlogo.png}" width="60">
  </div>

  <div th:include="navbar"></div>

  <div th:include="sidebar"></div>


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">实例模板</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">实例模板</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">
            <div class="card">

              <div class="card-body">
                <div class="row">
                  <div class="col-md-8">
                    <div class="chart-responsive">
                      <canvas height="150" id="pieChart"></canvas>
                    </div>
                    <!-- ./chart-responsive -->
                  </div>
                  <!-- /.col -->
                  <div class="col-md-4">
                    <ul class="chart-legend clearfix">
                      <li><i class="fas fa-wrench text-success"></i> 构建成功</li>
                      <li><i class="fas fa-wrench text-danger"></i> 构建失败</li>
                      <li><i class="fas fa-wrench text-warning"></i> 构建删除</li>
                      <li><i class="fas fa-code-branch text-success"></i> 克隆成功</li>
                      <li><i class="fas fa-code-branch text-danger"></i> 克隆失败</li>
                      <li><i class="fas fa-cubes text-success"></i> 实例模板部署成功</li>
                      <li><i class="fas fa-cubes text-danger"></i> 实例模板部署失败</li>
                      <li><i class="fas fa-cloud text-success"></i> 应用发布成功</li>
                      <li><i class="fas fa-cloud text-danger"></i> 应用发布失败</li>
                    </ul>
                  </div>
                  <!-- /.col -->
                </div>
                <!-- /.row -->
              </div>
              <!-- /.card-body -->
              <div class="card-footer p-0">

              </div>
              <!-- /.footer -->
            </div>
            <!-- /.card -->
          </div>
        </div>
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <div th:include="footer"></div>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<div th:include="global-script"></div>

</body>
</html>
