<section class="content" th:fragment="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <div class="card-tools">
                <button class="btn btn-tool" data-card-widget="collapse" title="Collapse" type="button">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body p-0">
            <table class="table table-striped projects">
                <thead>
                <tr>
                    <th style="width: 15%">
                        实例
                    </th>
                    <th style="width: 10%">
                        服务端口
                    </th>
                    <th style="width: 15%">
                        进度
                    </th>
                    <th style="width: 10%">
                        部署结果
                    </th>
                    <th style="width: 20%">
                        Ingress
                    </th>
                    <th style="width: 10%">
                        LoadBalancer IP
                    </th>
                    <th style="width: 20%">
                        操作
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="instance: ${collection}">
                    <td class="project-state text-left">
                        <span class="badge badge-info" th:text="${instance.name}"></span>
                        <br/>
                        <small class="badge badge-primary" th:text="${instance.createdAt}"></small>
                        <br/>
                        <small class="badge badge-secondary" th:text="${instance.version}"></small>
                        <br/>
                        <small class="badge badge-success" th:text="${instance.namespace}"></small>
                    </td>
                    <td class="project-state text-left">
                        <span class="badge badge-info" th:text="${instance.service}"></span>
                        <br>
                        <span class="badge badge-primary" th:text="${instance.targetPorts}"></span>
                        <br>
                        <span class="badge badge-secondary" th:text="${instance.nodePorts}"></span>
                    </td>
                    <td class="project_progress">
                        <div class="progress progress-sm">
                            <div aria-valuemax="100" aria-valuemin="0" class="progress-bar bg-green"
                                 role="progressbar" th:style="'width: ' + ${instance.progress} + '%'">
                            </div>
                        </div>
                        <small th:text="${instance.progress} + '% complete'"></small>
                    </td>
                    <td class="project-state text-left">
                        <span th:class="${instance.success} ? 'badge badge-success' : 'badge badge-secondary'"
                              th:text="${instance.deploying} ? '部署中' : (${instance.success} ? '部署成功' : '部署失败')">
                        </span>
                        <span data-placement="top" data-toggle="tooltip" data-trigger="hover focus" id="instance-msg"
                              th:title="${instance.message}"><i class="fa-solid fa-comment-dots"></i></span>
                    </td>
                    <td class="project-state text-left">
                        <a class="badge badge-secondary" target="_blank" th:each="ingress : ${instance.ingressList}"
                           th:href="${'http://' + ingress}"
                           th:text="${ingress}"></a>
                    </td>
                    <td>
                        <a th:text="${#strings.isEmpty(instance.loadBalancerIngressIp) ? '<none>' : instance.loadBalancerIngressIp}"></a>
                    </td>
                    <td>
                        <button class="btn btn-primary btn-sm"
                                onclick="instanceYaml(this)"
                                th:data-instance-id="${instance.id}">
                            实例 Yaml
                        </button>
                        <button class="btn btn-secondary btn-sm"
                                onclick="instanceIngressYaml(this)"
                                th:data-instance-id="${instance.id}"
                                th:disable="${!instance.hasIngress}">
                            Ingress Yaml
                        </button>
                        <button class="btn btn-danger btn-sm"
                                onclick="instanceDelete(this)"
                                th:data-instance-id="${instance.id}">
                            删除实例
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

</section>