<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>NGCCA | 我的模板</title>

  <link th:insert="~{global-link}">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <div th:insert="~{navbar}"></div>

  <div th:insert="~{sidebar}"></div>


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
      <div th:insert="~{content-header}"></div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content" id="user-instance-fragment" th:fragment="content">
      <div th:insert="~{template/user-template-instance-list}"></div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
    <div th:insert="~{footer}"></div>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<div th:insert="~{global-script}"></div>
<script th:src="@{/js/user-template.js}">
</script>
</body>
</html>
