<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                 <span data-target="#modal-upload-avatar" data-toggle="modal">
                    <img alt="User Image" class="img-circle elevation-2" th:src="${user.avatar}">
                </span>
            </div>
            <div class="info">
                <a class="d-block" data-target="#modal-user-profile" data-toggle="modal" href="#"><p
                        th:text="${user.username}"></p></a>
            </div>
            <div id="server-endpoint" th:attr="data-server-endpoint=${endpoint}"></div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-accordion="false" data-widget="treeview" role="menu">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item menu-open">
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/administrator/index}">
                                <i class="far fa-chart-bar nav-icon"></i>
                                <p>Dashboard</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item menu-open">
                    <a class="nav-link" href="#">
                        <i class="fa-solid fa-gear nav-icon"></i>
                        <p>
                            系统管理
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/administrator/system/user-manage}">
                                <i class="far fa-user-circle nav-icon"></i>
                                <p>用户管理</p>
                            </a>
                        </li>
                        <li class="nav-item">
                        <li class="nav-item">
                        <a class="nav-link" th:href="@{/administrator/system/registry-image}">
                            <i class="fa-brands fa-docker nav-icon"></i>
                            <p>镜像列表</p>
                        </a>
                        </li>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/administrator/system/activities}">
                                <i class="fa-regular fa-file-lines nav-icon"></i>
                                <p>操作日志</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/administrator/system/template-definition}">
                                <i class="fas fa-cubes nav-icon"></i>
                                <p>模板管理</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/administrator/system/system-environment}">
                                <i class="fa-brands fa-envira nav-icon"></i>
                                <p>系统变量</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/administrator/system/app-environment}">
                                <i class="fa-solid fa-seedling nav-icon"></i>
                                <p>应用变量</p>
                            </a>
                        </li>

                    </ul>
                </li>

                <li class="nav-item menu-open">
                    <a class="nav-link" href="#">
                        <i class="fa-solid fa-cloud nav-icon"></i>
                        <p>
                            集群管理
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/administrator/cluster}">
                                <i class="fa-brands fa-soundcloud nav-icon"></i>
                                <p>集群列表</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/administrator/cluster/node}">
                                <i class="fa-solid fa-circle-nodes nav-icon"></i>
                                <p>节点列表</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/administrator/cluster/pod}">
                                <i class="fa-solid fa-box-open nav-icon"></i>
                                <p>Pod列表</p>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
