<div class="card-body p-0">
    <table class="table table-striped projects">
        <thead>
        <tr>
            <th style="width: 10%">
                集群名称
            </th>
            <th style="width: 15%">
                集群地址
            </th>
            <th style="width: 10%">
                健康状态
            </th>
            <th style="width: 20%">
                控制节点
            </th>
            <th style="width: 20%">
                工作节点
            </th>
            <th style="width: 10%">
                操作
            </th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="cluster: ${collection}">
            <td>
                <a class="badge badge-secondary" th:text="${cluster.name}"></a>
            </td>
            <td>
                <a target="_blank" th:href="${cluster.agentUrl} + '/swagger-ui.html'" th:text="${cluster.agentUrl}"></a>
            </td>
            <td>
                <a th:class="${cluster.health} ? 'badge badge-success' : 'badge badge-danger'"
                   th:text="${cluster.health} ? 'healthy' : 'unhealthy'">
                </a>
            </td>
            <td>
                <div th:each="master: ${cluster.masters}">
                    <small th:text="${master.name} + ' , ' + ${master.ip}"></small><br>
                </div>
            </td>
            <td>
                <div th:each="node: ${cluster.nodes}">
                    <small th:text="${node.name} + ' , ' + ${node.ip}"></small><br>
                </div>
            </td>
            <td>
                <button class="btn btn-info" data-target="#modal-cluster-edit" id="cluster-edit"
                        th:data-cluster-id="${cluster.id}">编辑
                </button>
            </td>

        </tr>

        </tbody>
    </table>
</div>