<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>NGCCA | 节点列表</title>

  <link th:insert="~{global-link}">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <div th:insert="~{admin/navbar}"></div>

  <div th:insert="~{admin/sidebar}"></div>


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">

          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a th:href="@{/administrator/index}">Home</a></li>
              <li class="breadcrumb-item active">节点列表</li>
            </ol>
          </div>
        </div>
      </div>
    </section>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="card">
      <div class="card-header">
        <div class="card-tools">
          <button class="btn btn-tool" data-card-widget="collapse" title="Collapse" type="button">
            <i class="fas fa-minus"></i>
          </button>
        </div>
      </div>
      <div class="card-body p-0">
        <table class="table table-striped projects">
          <thead>
          <tr>
            <th style="width: 10%">
              节点名称
            </th>
            <th style="width: 10%">
              节点IP
            </th>
            <th style="width: 10%">
              节点状态
            </th>
            <th style="width: 10%">
              CPU使用（m Cores）
            </th>
            <th style="width: 10%">
              内存使用（Mi）
            </th>
            <th style="width: 10%">
              容器运行时
            </th>
            <th style="width: 10%">
              kubelet版本
            </th>
            <th style="width: 10%">
              OS架构
            </th>
            <th style="width: 10%">
              操作系统
            </th>
            <th style="width: 10%">
              操作
            </th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="nodemetrics: ${collection}">
            <td>
              <a th:text="${nodemetrics.node}"></a>
            </td>
            <td>
              <a th:text="${nodemetrics.ip}"></a>
            </td>
            <td>
              <a th:class="${nodemetrics.status == 'Ready'} ? 'badge badge-success' : 'badge badge-secondary'"
                 th:text="${nodemetrics.status}">
              </a>
            </td>
            <td class="project_progress">
              <small th:text="${nodemetrics.cpuMilliCoresUsage} + ' / ' + ${nodemetrics.cpuMilliCoresCapacity} + ' m Cores' "></small>
              <div class="progress progress-sm">
                <div aria-valuemax="100" aria-valuemin="0" class="progress-bar bg-cyan"
                     role="progressbar" th:style="'width: ' + ${nodemetrics.cpuUsagePercentage} + '%'"> [[
                  ${nodemetrics.cpuUsagePercentage} ]] %
                </div>
              </div>
            </td>

            <td class="project_progress">
              <small th:text="${nodemetrics.memoryMegabyteUsage} + ' / ' + ${nodemetrics.memoryMegabyteCapacity} + ' Mi' "></small>
              <div class="progress progress-sm">
                <div aria-valuemax="100" aria-valuemin="0" class="progress-bar bg-gradient-gray"
                     role="progressbar" th:style="'width: ' + ${nodemetrics.memoryUsagePercentage} + '%'"> [[
                  ${nodemetrics.memoryUsagePercentage} ]] %
                </div>
              </div>
            </td>

            <td>
              <a th:text="${nodemetrics.containerRuntime}"></a>
            </td>
            <td>
              <a th:text="${nodemetrics.kubeletVersion}"></a>
            </td>
            <td>
              <a th:text="${nodemetrics.architecture}"></a>
            </td>
            <td>
              <a th:text="${nodemetrics.osImage}"></a>
            </td>
            <td>
              <button class="btn btn-info" id="node-label" onclick="showlabels(this)"
                      th:data-node-label="${nodemetrics.labelShow}">标签
              </button>
            </td>
          </tr>

          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <div th:insert="~{footer}"></div>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->

</div>
<!-- ./wrapper -->

<!-- jQuery -->
<div th:insert="~{global-script}"></div>
<script th:src="@{/js/node-list.js}">
</script>
</body>
</html>
