<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="col-sm-1">
                        <button class="btn btn-block btn-dark" data-target="#modal-new-user" data-toggle="modal"
                                type="button">新建用户
                        </button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table class="table table-bordered table-hover" id="user-list">
                        <thead>
                        <tr>
                            <th>用户名</th>
                            <th>昵称</th>
                            <th>手机号</th>
                            <th>邮箱地址</th>
                            <th>用户状态</th>
                            <th>创建时间</th>
                            <th>更新时间</th>
                            <th>用户操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user: ${page.data}">
                            <td th:text="${user.username}"></td>
                            <td th:text="${user.nickname}"></td>
                            <td th:text="${user.mobile}"></td>
                            <td th:text="${user.email}"></td>
                            <td th:text="${user.enabled} ? '已激活' : '已禁用'"></td>
                            <td th:text="${user.createdAt}"></td>
                            <td th:text="${user.modifiedAt}"></td>
                            <td class="project-actions text-center">
                                <button class="btn btn-info btn-sm"
                                        onclick="userEditPage(this)"
                                        th:data-user-id="${user.id}">
                                    <i class="fas fa-pencil-alt"></i>编辑
                                </button>
                                <button class="btn btn-default btn-sm"
                                        onclick="userOn(this)"
                                        th:data-username="${user.username}"
                                        th:style="${user.enabled} ? 'display: none' : ''"><i
                                        class="fas fa-bell"></i>激活
                                </button>
                                <button class="btn btn-warning btn-sm"
                                        onclick="userOff(this)"
                                        th:data-username="${user.username}"
                                        th:style="${user.enabled} ? '' : 'display: none'"><i
                                        class="fas fa-bell-slash"></i>禁用
                                </button>
                                <button class="btn btn-danger btn-sm"
                                        onclick="userDelete(this)"
                                        th:data-user-id="${user.id}">
                                    <i class="fas fa-trash"></i>删除
                                </button>
                            </td>
                        </tr>
                        </tbody>

                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
