<!-- new user modal -->
<div class="modal fade" id="modal-create-volume">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">创建卷</h4>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="card card-default">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="volume-name">卷名称 <small
                                    style="color: red;">*</small></label>
                            <input class="form-control" id="volume-name"
                                   placeholder=" 数据卷名称"
                                   required
                                   style="width: 100%;"
                                   type="text">
                        </div>
                        <div class="form-group">
                            <label for="volume-capacity">卷容量</label>
                            <select class="form-control select2bs4" id="volume-capacity" name="gigabytes"
                                    style="width: 100%;">
                                <option disabled selected>请选择</option>
                                <option value="1">1Gi</option>
                                <option value="3">3Gi</option>
                                <option value="5">5Gi</option>
                            </select>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button class="btn btn-info" onclick="createvolume()" type="submit">创建</button>
                </div>
            </div>

        </div>

    </div>

    <!-- /.modal-dialog -->
</div>
