<section class="content" th:fragment="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">

            <div class="card-tools">
                <button class="btn btn-tool" data-card-widget="collapse" title="Collapse" type="button">
                    <i class="fas fa-minus"></i>
                </button>

            </div>
        </div>
        <div class="card-body">
            <div class="col-12 col-md-12 col-lg-12 order-1 order-md-2">
                <div class="text-center">
                    <img alt="template picture"
                         class="profile-user-img img-fluid img-circle"
                         th:src="${templateDefinition.logo}">
                </div>
                <br>

                <p class="text-primary">[[ ${templateDefinition.shortDesc} ]]</p>

                <div class="text-muted">
                    <p class="text-sm">部署版本
                        <b class="d-block">[[ ${templateInstance.version} ]]</b>
                    </p>
                    <p class="text-sm">部署进度
                        <b class="d-block">[[ ${templateInstance.progress} ]]%</b>
                    </p>
                    <p class="text-sm">部署状态
                        <b class="d-block">[[ ${templateInstance.deploying} ? 'deploying' : (${templateInstance.success}
                            ? 'success' : 'failed') ]]</b>
                    </p>
                </div>

                <h5 class="mt-5 text-muted">实例详情</h5>
                <ul class="list-unstyled">
                    <li>
                        Ingress： <a class="btn-link text-secondary" href="#">[[ ${templateInstance.host} ]]</a>
                    </li>
                    <br>
                    <li>
                        Namespace： <a class="btn-link text-secondary" href="#">[[ ${templateInstance.namespace} ]]</a>
                    </li>
                    <br>
                    <li>
                        Service： <a class="btn-link text-secondary" href="#">[[ ${templateInstance.service} ]]</a>
                    </li>
                    <br>
                    <li>
                        NodePort： <a class="btn-link text-secondary" href="#">[[ ${templateInstance.nodePorts} ]]</a>
                    </li>
                    <br>
                    <li>
                        Http Port： <a class="btn-link text-secondary" href="#">[[ ${templateInstance.httpPort} ]]</a>
                    </li>
                    <br>

                </ul>
                <div class="text-center mt-5 mb-3">
                    <a class="btn btn-sm btn-primary" href="#">Add files</a>
                    <a class="btn btn-sm btn-warning" href="#">Report contact</a>
                </div>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

</section>