apiVersion: apps/v1
kind: Deployment
metadata:
  name: #{[mysql]}
  namespace: #{[namespace]}
spec:
  selector:
    matchLabels:
      app: #{[mysql]}
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: #{[mysql]}
    spec:
      containers:
      - image: mysql:8.0
        name: #{[mysql]}
        env:
        - name: MYSQL_ROOT_PASSWORD
          value: #{[mysql_root_password]}
        ports:
        - containerPort: 3306
          name: #{[mysql]}
        volumeMounts:
        - name: mysql-persistent-storage
          mountPath: /var/lib/mysql
      volumes:
      - name: mysql-persistent-storage
        persistentVolumeClaim:
          claimName: pvc-#{[mysql]}-#{[namespace]}
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv-#{[mysql]}-#{[namespace]}
spec:
  accessModes:
    - ReadWriteOnce
  capacity:
    storage: 10Gi
  claimRef:
    kind: PersistentVolumeClaim
    name: pvc-#{[mysql]}-#{[namespace]}
    namespace: #{[namespace]}
  hostPath:
    path: #{[nfs_path]}/#{[namespace]}/#{[mysql]}
  volumeMode: Filesystem
  persistentVolumeReclaimPolicy: Retain
  storageClassName: #{[storage_class_application]}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pvc-#{[mysql]}-#{[namespace]}
  namespace: #{[namespace]}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  volumeName: pv-#{[mysql]}-#{[namespace]}
  storageClassName: #{[storage_class_application]}
---
apiVersion: v1
kind: Service
metadata:
  name: #{[mysql]}
  namespace: #{[namespace]}
spec:
  ports:
  - port: 3306
    protocol: TCP
    targetPort: 3306
  selector:
    app: #{[mysql]}
  type: NodePort
